@import url('http://fonts.googleapis.com/css?family=Tangerine|Lobster|Astloch');
@import url('reset.css');
@charset "iso-8859-2";
body {
	font-family: "Astloch", Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #000;
	background-color: #67b
}
#container {
	width: 900px;/*630*/
	margin: 0 190px;
	background-color: #ccddff;
	border-left:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000
}
#masthead {
	text-align: right;
	width: 900px;/*630*/
	height:200px;
	overflow: auto;
	background: #ddd url('../images/logo_sh.jpg');/*ddb*/
	border-bottom:1px solid #000
}
#sidebar {
	float: left;
	width: 154px;
	background-color: #cdf;
	position: relative;
	clear: both;
	display: inline;
}
#content {
	float: left;
	width: 716px;/*446*/
	min-height:548px;
	background-color: #fff;
	margin: 0px; padding: 15px;
	overflow: auto;
	position: relative;
}
#content h1,h2,h3,h4,h5 {
	text-align: left;
	margin: 0;padding: 0;
	margin-top:5px;
	color:#444
}
#content img {margin:4px;border-width:0}/*1px solid #000099;display:block*/
#slideshow {width:460px;height:340px;margin-left:10px;float:right}
#slideshow img {display:none}
#footer {
	clear: both;
	width: 900px;/*630*/
	background-color: #555555;/*dcb*/
	padding: 0;
	overflow: auto;
	margin-top: 0px;
	border-top:1px solid #000
}
#masthead img {float: left}
.cycle {cursor:move}
.mic {
	background:url(http://public.sn2.livefilestore.com/y1pPAvZ8-MzKNLdwnoBug0iUyUgHHdtnLsZzP7My0dfmik5t2UNgxI8lC8t1JoNyN2QnhJU227uC_Cip_wOFMnPGg/Panorama_1.1.jpg);
	height:320px;width:680px
}
.mare {
	background:url(http://waoomw.sn2.livefilestore.com/y1pxbdzk1KDz6vfi2-BZZGJ0xs4rTZYkEP1iYJV_9tk8uw5PK1eSjqZDGWAXFWeICOnjz7haz8mLKNPaOMii6rT9VHKS2UeMhUG/Panorama_1.jpg);
	height:480px
}
.butoane a{text-align:left;padding:3px 0 0 7px;margin-top:7px}
#map {
	float:right;margin:5px;
	width:56%;height:320px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #CCCCCC;
}
/* Styles for Navigation */
#sidebar ul {
	list-style-type: none;
	width:100%;
	display: block;
	margin: 0;
	padding: 0;
}
#sidebar li {
	display: block;
	border: 1px solid #cdf;
}
#sidebar a {
	font-weight: bold;
	text-decoration: none;
	color: #037;
	display: block;
	padding: 7px 14px;/*6 12*/
	border-bottom: 1px solid #fff;
}
#sidebar a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #04b;
	border-bottom: 1px solid #fff;
	background-color: #fff;
}

/* Styles for Footer */
#footer p {
	font-size:0.9em;color:#bbb;
	text-align:center;
	margin:0px;padding:2px;
}
#footer a {
	color: #bbb;
	text-decoration: none;
}
#footer a:hover {
	color: #fff;
	text-decoration: underline;
}
a {
	color: #04b;
	text-decoration: underline;
}
a:hover {
	color: #333;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
	font-stretch:expanded;
}
.style_italic {
	font-style: italic;
}
.float_right {
	float:right;
}
#vertical img {position:absolute;}
.clear {overflow:auto;}
/* RECAPTCHA */
.input-recaptcha{
 width:172px;   
}
